*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: brown;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;   
}
.length{
    width: 800px;
    height: 355px;
}
.slider{
    width: 800px;
    height: 355px;
    overflow: hidden;
    position: relative;
}
.slides{
    width: calc(800px * 3);
    display: flex;
    animation: slide 8s linear infinite;
}
@keyframes slide{
    0% {transform: translateX(0);}
    25% {transform: translateX(-400px);}
    50% {transform: translateX(-800px);}
    75% {transform: translateX(-1600px);}
    100% {transform: translateX(0);}
}